body {
  margin: 0 auto;
  max-width: 1100px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  background-color: #ffffff;
  padding: 92px 50px 96px;
}

.header__menu-list {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  line-height: 21.13px;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
}

.header__menu-item {
  list-style-type: circle;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__menu-link {
  font-style: normal;
  color: black;
  gap: 13px;
}

.header__menu__shop {
  padding-right: 36.52px;
}

.header__logo {
  display: block;
  left: 478px;
  right: 474px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  position: absolute;
  left: 1100px;
  font-size: 18px;
  max-width: 290px;
  font-style: normal;
  line-height: 1.35;
}

.tel {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.mail {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.street {
  text-decoration: none;
}

.cover {
  color: #ffffff;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/cover.jpg);
  height: 758px;
  left: 0px;
  top: 0px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.6;
  z-index: 0;
}

.cover__title {
  position: absolute;
  z-index: 1;
  color: #ffffff;
  font-size: 100px;
  letter-spacing: 30px;
}

.aligned-text {
  position: absolute;
  top: 165px;
  left: 50px;
}

.aligned-text_center {
  text-align: center;
  top: 295px;
  left: 380.5px;
}

.aligned-text_right {
  text-align: right;
  left: 663px;
  top: 430px;
}

.description {
  position: absolute;
  z-index: 1;
  color: #ffffff;
  white-space: nowrap;
  width: 1000px;
  height: 51px;
  top: 656px;
  left: 50px;
}

.cover__description-text {
  position: absolute;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 21px;
  top: 12px;
}

.button {
  box-sizing: border-box;
  border: 1px solid #ffffff;
  position: absolute;
  background-position: center;
  width: 256px;
  height: 51px;
  left: 744px;
  background: transparent;
  font-family: Raleway, sans-serif;
  z-index: 42;
  right: 50px;
}

.bet-button {
  position: absolute;
  width: 193px;
  height: 28px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  top: 12px;
  right: 32px;
}

.lots {
  background-color: #ffffff;
  position: relative;
  margin: 180px 24px 0 24px;
  width: 1052px;
  height: 723px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  
}

.lots__heading {
  position: absolute;
  width: 121px;
  height: 47px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 40px;
}

.lots__card-list {
list-style: none;

}

.card{

}

.lots__card-list-item {
  position: absolute;
  width: 334px;
  height: 596px;
  margin-top: 74px;
  background-position: center;
  background-size: cover;
}

.card__title {
  position: absolute;
  color: #ffffff;
  z-index: 1;
  padding: 48px 40px 466px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
}

.card_type_film {
  position: absolute;
  background: url(../images/card-lot-01.jpg);
  width: 100%;
  height: 100%;
  background-size:cover;
  background-position: top;
}

.card__text_film {
  position: absolute;
  height: 144px;
  left: 40px;
  right: 40px;
  bottom: 48px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

/*.card_type_book {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url(../images/card-lot-02.jpg);
  width: 334px;
  height: 596px;
  left: 358px;
}

.card__text_book {
  position: absolute;
  padding: 188px 40px 48px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.card_type_picture {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url(../images/card-lot-03.jpg);
  width: 334px;
  height: 596px;
  left: 742px;
}

.card__text_picture {
  position: absolute;
  padding: 284px 40px 48px;
  height: 144px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
}

.lots__look-more-link {
  width: 192px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}*/


