body {
  margin: 0 auto;
  max-width: 1100px;
  background-color: bisque;
}

.header {
  background-color: #ffffff;

}

.header__menu {
  padding-left: 50px;
  padding-top: 133px;
  
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  line-height: 21.13px;
  size: 18px;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
}

.header__menu-item {
  list-style-type: circle;
}

.header__menu-link {
  font-style: normal;
  color: black;
  
}

