body {
  margin: 0 auto;
  background-color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  max-width: 1100px;
}

.header {
  display: flex;
 
  justify-content: space-between;
  align-items: normal;
  padding: 24px 20px;
}

.header__menu{
    display: flex;
    flex-direction: row;
    
}

.header__logo {
  display: block;
  width: 129.11px;
}

.header__logo-image {
  width: 100%;
}


.header__logo-cover {
  display: flex;
  justify-content: center;
  max-width: 1100px;
}

